extends layout

block content
    h1 Admin Creation

    if locals.user.isAdmin
        p You are already an admin.

    else
        p Please, enter the secret key to get  your account updated.

        form(action="", method="post") 
            label(for="admin_password" class="form-label") 
            input(type="text", name="admin_password", maxlength="50" required class="form-control")

            button(type="submit" class="btn btn-primary") Go!

        if wrongPassword 
            p Try again!