extends layout

block content
  if user 
    p Welcome !{locals.user.username}

  else 

    p Please sign in!
  
  if messages 
    ul
      for message in messages 
        li  
          h3 Title: !{message.title}
          div Message: !{message.message}
          div Author: !{message.author.username}
        
         

