extends layout

block content
  if user 
    p Welcome !{user.username}

  else 

    h2 Sign In
    form(action="/log-in" method="post") 
        label(for="username") Username 
        input(type="text" name="username")
        label(for="password") Password 
        input(type="password" name="password")

        input(type="submit" value="Log In")