doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav   
      ul 
        li 
          a(href="/") Home

        if !locals.user
          li 
            a(href="/signin") Sign in 

          li 
            a(href="/signup") Sing up 

        if locals.user
          if !locals.user.isVIP
            li 
              a(href="/users/VIP-application") VIP application

          if locals.user.isVIP
            li 
              a(href="/message/new-post") New message

          li 
            a(href="/logout") Logout 
    block content
