doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav   
      ul 
        li 
          a(href="/") Home

        if !locals.user
          li 
            a(href="/signin") Sign in 

          li 
            a(href="/signup") Sing up 

        if locals.user
          li 
            a(href="/logout") Logout 
          
          li 
            a(href="/message/new-post") New message

    block content
