extends layout

block content

    form(action="", method="post") 
        label(for="title" class="form-label") Title 
        input(type="text" name="title" minlength="5" maxlength="50" required class="form-control")

        label(for="message" class="form-label") Password 
        textarea(name="message", cols="30", rows="10" required minlength="50" maxlength="5000" class="form-control")

        button(type="submit" class="btn btn-primary") Add a new message