body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.relative {
  position: relative;
}

.offset {
  position: absolute;
  left: -50px;
  top: 0px;
  width: 30px;
  height: 30px;
}
